source https://api.nuget.org/v3/index.json

group main
    source https://www.nuget.org/api/v2
    framework: netstandard20, netcoreapp31, net50
    nuget Microsoft.AspNetCore.Mvc.Core 2.2.5
    nuget Microsoft.Extensions.Logging.Abstractions 3.1.0
    nuget Newtonsoft.Json 13.0.1
    nuget SharpX 1.1.6

group specs
    source https://www.nuget.org/api/v2
    framework: net50
    nuget Microsoft.NET.Test.Sdk 17.0.0
    nuget coverlet.collector 3.1.0
    nuget xunit 2.4.1
    nuget xunit.runner.visualstudio 2.4.3
    nuget FluentAssertions 6.2.0
    nuget Microsoft.AspNetCore.Mvc.Core 2.2.5
